body {
  background: url("http://res.cloudinary.com/dn4jhnh54/image/upload/v1490853303/34981541_l_xiglyb.jpg");
  margin: 0px;
}

.test {
  margin-top: 3%;
  text-align:center;
}

canvas {
  border: 2px solid #aaaaaa;
  margin:auto;

}

#answer {
  border: 1px solid black;
  line-height: 24px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: 250px;
  outline: none;
}

#answer:hover {
  background-color: yellow;
  -moz-box-shadow: 1px 1px 10px #999;
  -webkit-box-shadow: 1px 1px 10px #999;
  box-shadow: 1px 1px 10px #999;
}

#timer {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid black;
  width: 100px;
  padding: 0px 5px 0px 5px;
  margin: 0 auto;
  margin-bottom: 5px;
  background: #282828;
  color: white;
}
